@import url('https://fonts.googleapis.com/css?family=Wire+One');
body{
    background-color: #0c0c0e;
    color: white;
    text-align: center;
}
#secs {
    display: grid;
    grid-gap: .5em;
    grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
}

nav a{
    text-decoration: none;
    color: white;
    text-align: right;
    right:0;
    font-family: 'Wire One', sans-serif;
    font-size: 1.5em;
    float: right;
}
a :visited{
    color: white;

}

#logotext{
    float: left;
    font-family: 'Wire One', sans-serif; 
    font-size: 2em;
}

header{
    height: 3.2em;
    font-family: Helvetica, sans-serif;
}

h2{
    color: white;
    font-family: Helvetica, sans-serif;
}

article {
    padding: 1em;
}

img{
    width: 100%;
    margin: 0;
    padding: none;
}

#menuitems h2{
    cursor: pointer;
}

.inactive{
    display: none;
}

#secs.inactive{
    display: none;
}

#menu{
    cursor: pointer;
}

article{
    background-color: #222;
    margin-top: 1em;
}

#cat2{
    padding: 2em;
    background-color: #222;
}
#cat4{
    padding: 2em;
    background-color: #222;
}

h1{
    font-family: 'Wire One', sans-serif;
    font-size: 3.5em;
}
h2{
    font-family: 'Wire One', sans-serif;
    font-size: 1992em:
}
h3{
    font-family: 'Wire One', sans-serif;
}
#moreinf{
    text-align: right;
    text-decoration: none;
    color: white;
    font-family: 'Wire One', sans-serif;
    font-size: 1.5em;
    cursor: pointer;
}