@import url('https://fonts.googleapis.com/css?family=Wire+One');
body{
    background-color: #0c0c0e;
    color: white;
    text-align: center;
    margin-bottom: 5em;
}
#secs {
    display: grid;
    grid-gap: .5em;
    grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
}

nav a{
    text-decoration: none;
    color: white;
    text-align: right;
    right:0;
    font-family: 'Wire One', sans-serif;
    font-size: 1.5em;
    float: right;
}
a :visited{
    color: white;

}

#logotext{
    float: left;
    font-family: 'Wire One', sans-serif; 
    font-size: 2em;
}

header{
    height: 3.2em;
    font-family: Helvetica, sans-serif;
}

h2{
    color: white;
    font-family: Helvetica, sans-serif;
}

article {
    padding: 1em;
}

img{
    width: 100%;
    margin: 0;
    padding: none;
}

#menuitems h2{
    cursor: pointer;
}

.inactive, .modal.inactive{
    display: none;
}

#secs.inactive{
    display: none;
}

#menu{
    cursor: pointer;
}

article{
    background-color: #222;
    margin-top: 1em;
}

#cat1{
    margin: 0;
}
#cat3{
    margin: 0;
}
#cat5{
    margin: 0;
}
#cat2{
    padding: 1em;
    background-color: #222;
}
#cat4{
    padding: 1em;
    background-color: #222;
}

h1{
    font-family: 'Wire One', sans-serif;
    font-size: 3.5em;
}
h2{
    font-family: 'Wire One', sans-serif;
    font-size: 2.3em;
}
h3{
    font-family: 'Wire One', sans-serif;
    font-size: 2em;
}
#moreinf{
    text-decoration: none;
    text-align: right;
    text-decoration: none;
    color: white;
    font-family: 'Wire One', sans-serif;
    font-size: 1.6em;
    cursor: pointer;
    background-color: #222;
    border: none;
}

#readvalues{
    text-align: right;
    text-decoration: none;
    color: white;
    font-family: 'Wire One', sans-serif;
    font-size: 1.6em;
    cursor: pointer;
    margin-bottom: 1em;
}

#values{
    display: inline;
    position: relative;
    top: 15em;
}
p{
    margin:0;
    padding: none;
    text-align: center;
    display: inline-block;
}
#moretext{
    text-align: right;
    margin-top: 1em;
    margin-bottom: 1em;
}

#hidevalues{
    text-align: right;
    text-decoration: none;
    color: white;
    font-family: 'Wire One', sans-serif;
    font-size: 1.6em;
    cursor: pointer;
    margin-bottom: 1em;
}
#menuitems{
    display: inline;
    position: relative;
    top: 15em;
}

.modal{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height:100%;
    background-color: black;
    border: 4em black solid;
    margin:auto;
    padding: 1em;
    display: grid;
    grid-template-columns: 2;
}

#values h1{
    margin:0;
    margin-bottom: .5em;
}

nav{
    display: flow-root;
}

#navbar{
    display: block;
    
}