@import url('https://fonts.googleapis.com/css?family=Wire+One');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
body{
    background-color: #0c0c0e;
    color: white;
    text-align: center;
}


nav a{
    text-decoration: none;
    color: white;
    text-align: right;
    right:0;
    font-family: 'Wire One', sans-serif;
    font-size: 2em;
    float: right;
    padding-left: .4em;
    padding-bottom: .2em;
}
a :visited{
    color: white;

}

#logotext{
    float: left;
    font-family: 'Wire One', sans-serif; 
    font-size: 2em;
    padding-left: 0;
}

header{
    height: 3.2em;
    font-family: Helvetica, sans-serif;
}

h2{
    color: white;
    font-family: Helvetica, sans-serif;
}

article {
    padding: 1em;
}

img{
    width: 100%;
    margin: 0;
    padding: none;
}

#menuitems h2{
    cursor: pointer;
}

.inactive, .modal.inactive{
    display: none;
}

#secs.inactive{
    display: none;
}

#menu{
    cursor: pointer;
}

article{
    background-color: #222;
    margin-top: 1em;
}

#cat1{
    margin: 0;
    padding-bottom: .5em;
    padding-top: .5em;
}
#cat3{
    margin: 0;
    padding-bottom: .5em;
    padding-top: .5em;
}
#cat5{
    margin: 0;
    padding-bottom: .5em;
    padding-top: .5em;
}
#cat2{
    padding: 1em;
    background-color: #222;
    padding-bottom: .5em;
    padding-top: .5em;
}
#cat4{
    padding: 1em;
    background-color: #222;
    padding-bottom: .5em;
    padding-top: .5em;
}

h1{
    font-family: 'Wire One', sans-serif;
    font-size: 3.5em;
}
h2{
    font-family: 'Wire One', sans-serif;
    font-size: 2.3em;
}
h3{
    font-family: 'Wire One', sans-serif;
    font-size: 2em;
}
#moreinf{
    text-decoration: none;
    text-align: right;
    text-decoration: none;
    color: white;
    font-family: 'Wire One', sans-serif;
    font-size: 1.6em;
    cursor: pointer;
    background-color: #222;
    border: none;
    position: relative;
    top: 0em;
    left: 50%;
    transform: translate(-60%, 0%);
}

#readvalues{
    text-align: right;
    text-decoration: none;
    color: white;
    font-family: 'Wire One', sans-serif;
    font-size: 1.6em;
    cursor: pointer;
    margin-bottom: 1em;
}

#values{
    display: inline;
    position: relative;
    top: 15em;
}
p{
    margin:0;
    padding: none;
    text-align: center;
    display: inline-block;
}
#moretext{
    text-align: right;
    margin-top: 1em;
    margin-bottom: 1em;
}

#hidevalues{
    text-align: right;
    text-decoration: none;
    color: white;
    font-family: 'Wire One', sans-serif;
    font-size: 1.6em;
    cursor: pointer;
    margin-bottom: 1em;
}
#menuitems{
    display: inline;
    position: relative;
    top: 15em;
}

.modal{
    box-sizing: border-box;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height:100%;
    background-color: #222;
    border: 1em black solid;
    margin:auto;
    padding: 1em;
    display: grid;
    grid-template-columns: 2;
    margin: auto;
    overflow: hidden;
}

.modal h1{
    margin: 0;
    padding: none;
}
.modal p{
    padding-bottom: .4em;
    padding-top: .4em;
}

.modal p{
    margin: 0;
    padding: none;
}
.modal img{
    width: 80%;
    position: relative;
    top: 0em;
    left: 50%;
    transform: translate(-50%, 0%);
}

#values h1{
    margin:0;
    margin-bottom: .5em;
}

nav{
    position: fixed;
    display: contents;
}

#navbar{
    display: block;
    
}

#navbar a{
    padding-left: 1em;
    
}
#banner{
    position: relative;
}

#fancytext{
    font-family: 'Great Vibes', cursive;
    font-size: 1.5em;
}

#table{
    position: relative;
    display: block;
    top: 15em;
    margin-bottom: 10em;
}
#lessinf{
    width: 2em;
    justify-self: end;
    height: 2em;
    color: white;
    background-color: #222;
    border: none;
    font-size: 1.2em;
    
}

.vegetarian{
    width:10%;
    float: left;
}

#sold{
    background: red;
    color: white;
}

table{
    position: relative;
    top: 0em;
    left: 50%;
    transform: translate(-50%, 0%);
}

#wine{
    padding-top: 1em;
}

@media all and (min-width:768px){


}
